.skillsIcon {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.icon{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.icon:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.card-img-top {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the entire space */
}